p{
  padding-left: 16px;
}

.info{
  display: flex;
  padding-left: 16px;
}

.main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 64px;
}

.main-container{
  display: flex;
}

.image{
  width: 300px;
  height: 200px;
}
